.dynamic-width {
	width: 80%;
}

.qa-form {
	margin: 0;
	padding: 37px;
	width: auto;
	background-color: rgba(225, 225, 225, 0.5);
}

.qa-form form {
	margin: 0 auto;
	padding: 0;
	width: 403px;
}

/* .qa-form button.inline-block {
	margin: 10px 0;
	padding: 3px 10px;
} */

button.submit-input {
	margin: 0 13px;
	padding: 3px 7px;
	font-size: 14px;
}

.answer-input {
	font-size: 15px;
	margin: 0;
	padding: 2px 6px;
	width: 250px;
	height: 20px;
	border: none;
}

.row {
	max-width: 480px;
	margin: 100px auto;
	padding-left: 20px;
	padding-right: 20px;
}

/* Clearfix */
.row::before,
.row::after {
	display: table;
	content: '';
}

.row::after {
	clear: both;
}
