.center {
	justify-content: center;
}
p {
	font: 16px/30px Georgia, serif;
}
.home {
	padding: 20px;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	padding-left: 20px;
	padding-right: 20px;
	text-shadow: 1px 1px 2px #ffffff;
	font: 50px/30px Georgia, serif;
}

h2 {
	text-align: center;
	font: Georgia, serif;
	font-size: 28px;
	margin: 16px 0;
}
h3 {
	font-size: 20px;
}

.login-form {
	justify-content: center;
	flex-direction: column;
	padding: 5px;
	font-size: 20px;
	text-align: center;
	margin: auto;
}
.register-form {
	justify-content: center;
	flex-direction: column;
	font-size: 20px;
	width: 20%;
	height: 20%;
	text-align: center;
}
.intro {
	text-align: center;
	margin: 10px;
	padding: 3px;
	background-color: rgba(225, 225, 225, 0.8);
	width: auto;
	/* background: url('../images/panel.png');
	background-size: 100% 100%; */
}

.intro p {
	padding: 15px;
}

.login-form-bg {
	justify-content: center;
	width: 90%;
	height: 20%;
	/* background: url('../images/panel.png');
	background-size: 100% 100%; */
	/*	background-color: rgb(255,248,220);
	border: 0.5px solid black;
*/
}

input {
	font-size: 20px;
	border: 0.4px black solid;
	border-radius: 3px;
	padding: 5px;
}
