.inline-block{
	display: inline-block;
	padding: 5px;
}
.dynamic-width{width: 80%;}

.answer-input{max-width: -webkit-fill-available;}

.qa-form{
justify-content:center;
width: 25%;
	height: 20%;

  transform: translate(92%, 50%);


	background: url('../images/panel.png');
	background-size: 100% 100%;
	flex-direction: column;
	padding: 5%;
	text-align: center;
}
