.header-bar{
	height: 10%;
	width: 100%;
	background: url('../images/header.PNG');
	background-size: 100% 100%;
}

h1{
	text-align: center;
}

.header-panel{
	display: inline-block;
	position: relative;
	
}

@media only screen and (min-width: 480px)
{
	.header-panel {
		padding-left: 235px;
	}
}