.header-bar{
	height: 10%;
	width: 100%;
	background: url('../images/header.PNG');
	background-size: 100% 100%;
}

h1{text-align: center;}

.header-panel{
justify-content:right;
width: 10%;
	height: 20%;

  transform: translate(365%, 10%);


	background: url('../images/panel.png');
	background-size: 100% 100%;
	flex-direction: column;
	padding: 1%;
	text-align: center;
}
