.home {
	padding: 20px;
	display: flex;
	flex-direction: column;
}

h1 {
	padding-left: 20px;
	padding-right: 20px;
}

.login-form {
	justify-content: center;
	flex-direction: column;
	padding: 20px;
	width: auto;
}

button {
	width: 50px;
}

.intro {
	justify-content: center;
	/* background: rgb(235, 235, 235); */
	width: 350px;
}

/* .inline-block{
	display: inline-block;
} */
