.new-line-and-margin{
	margin: 3px;
	display: block;
}

.your-name {
	display: inline-block;
	font-size: 25px;
}

.add-margin {
	margin-bottom: 10px; 
}

.button-margin {
	margin-left: 5px;
}

button {
	border-radius: 3px;
	font-size: 16px;
}

.faq-align {
	padding: 45px;
	background: url(/static/media/panel.4cc6d2e8.png);
	background-size: 100% 100%;
}