body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  background: url('./images/bg.png');
  grid-template: 100% / 100%;
  font-size: 2vmin;
  background-color: #fcfcfc;
  background-size: cover;
  background-repeat: no-repeat;
}
